@use './variables' as *;


#right-section h2,#right-section p{
    color: $color-parent-text;
    text-align: left;
}

#right-section h2{
    font-size: $font-size-parent-title;
}
#right-section p{
    font-size: $font-size-parent-text;
}

img{
    width: 55.8px;
    height: 59.55px;
}

#rightSection-container{
    display: flex;
    flex-direction: column !important;

}

#rightSection-container .image-container{
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    padding-bottom: 50px !important;

}