@use './variables' as *;


.form-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .full-width {
    grid-column: 1 / -1;
    margin-top: 15px;
  }

  .section-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: $color-text-secondary;
    margin-bottom: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;

    label {
      font-weight: 700;
      font-size: 0.95rem;
      color: $color-text-primary;
      margin-left: 5px;
    }

    input,
    select {
      padding: 12px 20px;
      border: 1.5px solid $color-border-default;
      border-radius: 25px;
      font-size: 0.95rem;
      color: $color-text-muted;
      background-color: $color-bg-primary;
      transition: all 0.2s ease;
      outline: none;

      &::placeholder {
        color: $color-text-placeholder;
      }

      &:focus {
        border-color: $color-border-focus;
      }

      &.error {
        border-color: $color-border-error;
        background-color: $color-bg-error;
      }
    }

    select {
      appearance: none;
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-size: 15px;
      padding-right: 40px;
      cursor: pointer;
    }
  }
}