@use './variables' as *;

@mixin flec-column {
  display: flex;
  flex-direction: column;
}


#root {
  width: 100% !important; 
  border-inline:none !important;
  background-color: $color-background-main;
}


#container {
  width: 80%;
  margin: 40px auto;
  @include flec-column;
  gap: 20px;
  height: 90vh;
  justify-content: center
}

#container #title{
  @include flec-column;
  align-items:start;
  font-weight: bold;
}

#container #title h1{
  text-align: left;
  font-size: 36px;
}

#container #title p{
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
}
#container #title p,#container #title h1{
  color: $color-parent-header-bg;
}

#container #container-main-stepper{
  background: $color-parent-bg;
  width: 100%;
  min-height: 75%;
  border-radius: $border-radius;
  display: flex;
}



#container #button-container{
  width: 100%;
  @include flec-column;
  flex-direction: row;
  justify-content:space-between;
}

#container #button-container .next, #container #button-container .return{
  width: 160px;
  height: 44px;
  font-size: 16px;
  border-radius: $border-radius;
}
#container #button-container .next{
  background-color: $color-btn-primary-bg;
  color: $color-btn-primary-text;
}

#container #button-container .return{
  background-color: $color-btn-secondary-bg;
  color: $color-btn-primary-text;
}

//contenedor para los componentes del stepper

#right-section{
  width: 30%;
  height: 100%;
  border-radius: $border-radius 0px 0px $border-radius;
  background: $color-parent-header-bg;
  color: $color-parent-text;
}

#left-section{
  width: 70%;
  height: 100%;
  background: $color-parent-bg;
  border-radius: 0px $border-radius $border-radius 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepped-progress{
  display: flex !important;
  flex-direction: row !important;
  padding: 0px !important;
}

#right-section div {
  display: flex;
  flex-direction: row; /* Esto los pone uno al lado del otro */
  justify-content:flex-start; /* O flex-start, space-between, etc. */
  padding: 0px !important;
}

.information{
    padding: 30px 30px 20px 30px;
}

.stepped-progress{
    margin-left: 30px
}

#right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p{
      white-space: pre-line !important; 
      text-align: left !important;
}
a{
  color: $color-option-link;
}
    
h3{
  text-align: left !important;
}
h2{
      display: flex;
}

